body {
    font-family: Mitr, sans-serif;
    font-weight: 500;
}

.loginbtt {
    border:none;
    background:rgb(0, 153, 255);
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    transition: 1s;
    font-size: 20px;
    font-family: Mitr, sans-serif;
    font-weight: 700;
}

.loginbtt:hover {
    transition: 1s;
    background-color: black;
    color: white;
    cursor: pointer;
}

